@import url('./styles/chats.css');
@import url('./styles/header.css');
@import url('./styles/noMessage.css');
@import url('./styles/addPersonModal.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @apply text-base;
    font-family: inter;
}

button:hover {
    cursor: pointer;
    box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.15);
    transition: 0.2s all; 
    outline: none; 
}

button:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 

input{
    outline: none;
}

input:focus{
    box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.15); 
}