@import url('./styles/chats.css');
@import url('./styles/header.css');
@import url('./styles/noMessage.css');
@import url('./styles/addPersonModal.css');
@import url('styles/notification.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @apply text-base font-['inter'];
}

button:hover {
    @apply cursor-pointer outline-[none] shadow-[10px_10px_10px_rgba[0,0,0,0.15]] transition-all ;
}

button:active { 
    transform: scale(0.98); 
    @apply shadow-[3px_2px_1px_rgba(0,0,0,0.24)];
} 

input{
    @apply outline-none
}

input:focus{
    @apply shadow-[1px_1px_120px_rgba(0,0,0,0.15)]

}