
.modal-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-main{
    background-color: #fefefe;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 564px; /* Could be more or less, depending on screen size */
    height: 400px;
}

.modal-main > p {
    @apply text-xl text-[#4F4F4F] pb-5;
}

.name-field-modal, .email-field-modal{
    @apply text-[#4F4F4F]
}

.optional-text {
    @apply !text-[#828282]
}

.email-field-modal > input, .name-field-modal > input {
    @apply pl-2.5 border rounded-lg block bg-[#F8F8F8] text-[#BDBDBD] w-[500px] h-14;
}

.cancel {
    @apply border text-center h-12 w-60; 

}

.add {
    @apply text-white !bg-[#0B468C] w-[244px] h-12 ml-[15px];

}

.modal-buttons {
    padding-top: 50px;
}

.email-field-modal ::-webkit-input-placeholder, .name-field-modal > ::-webkit-input-placeholder{
    @apply !text-[#828282] text-left ;
}

.email-label-space {
    padding-bottom: 5px;
    display: block;
}

.name-label-space {
    padding: 5px;
    display: block;
}

button:hover {
    cursor: pointer;
    box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.15);
    transition: 0.2s all; 
    outline: none; 
}

button:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 


input{
    outline: none;
}

input:focus{
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}