
.content{
    @apply flex flex-col justify-center items-center;
}

.add-person-btn {
    @apply rounded w-60 h-10 text-white !bg-[#0B468C];
 

}

.chat-message-icon > img {
    max-width: 100%;
    height: auto;

}

.chat-message-icon {
    @apply w-[56px] pt-[20px] opacity-20 pt-36;

}

.empty-inbox-text, .no-chats {
    @apply opacity-20
}
.empty-inbox-text {
    @apply pb-6;
    line-height: 16.94px;
}
.no-chats {
    @apply pt-5 pb-1;
}

.empty-inbox-text > span {
   display: block;
   text-align: center;
}